p{color: white; background-color: black; border: 1px solid red;}

span{color: red; background-color: #81badb;}
footer{color: black; background-color: yellow;}
.rav{color: red; background-color: white;}
/* (/*) */
/* (ctrl+/)  */

